[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-saildsb
Exec=harbour-saildsb
Name=SailDSB
Name[de]=SailDSB

[X-Sailjail]
OrganizationName=de.andreas-wuest-it-consulting
ApplicationName=harbour-saildsb
Permissions=Internet
